
/* navbar */
.navbar-toggler {
    border: 0 !important;
    border-radius: 3px !important;
    background: rgba(78, 247, 161, 0.4) !important;
}
.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active {
    box-shadow: 0 0 0 !important;
}
.navbar {
}
.nav-link {
    color: #386c5f;
}
.bi-list {
    color: #386c5f !important;
    font-size: 1.8em;
    font-weight: 600;
}
@media only screen and (min-width: 600px) {
    .navbar-collapse {
        position: absolute;
        right: 10px;
    }
}
/* navbar */

.custom-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

.custom-table th,
.custom-table td {
    padding: 12px 15px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-table td {
    padding-block: 5px !important;
    padding-left: 5px !important;
}

.custom-table th {
    background-color: #386c5f;
    color: white;
    font-weight: 800;
}

.custom-table th:first-child,
.custom-table td:first-child {
}

.custom-table tbody tr:nth-child(even) {
    background-color: rgba(56, 108, 95, 0.2);
}
.temp-update-class {
    background-color: rgba(56, 108, 95, 0.3);
}
