@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", Sans-Serif;
}

.bg-primary {
  background: #4ef7a1;
}
.bg-secondary {
  background: #629d79;
}
.bg-primary2 {
  background: #386c5f;
}
.bg-secondary2 {
  background: #d9eddf;
}
.color-primary {
  background: #4ef7a1;
}
.color-secondary {
  background: #629d79;
}
.color-primary2 {
  background: #386c5f;
}
.color-secondary2 {
  background: #d9eddf;
}

.navbar-toggler {
}

.hero-home {
  width: 100%;
  height: 100vh;
}

.footer {
  background-color: #386c5f;
  color: #d9eddf;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.foottitle{
  color: white;
  text-align: center;
}
.footer a {
  color: #4ef7a1;
  align-content: center;
}
